body {
    font-family: Montserrat;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    resize: both;
    background-color: #BCBCBC*
}

#Menu {
    float: left;
    padding-left: 0px;
    font-family: Montserrat;
    font-size: 30px;
    padding-top: 0px;
    display: table-row;
}

.Nav {
    padding: 20px 40px 100px 25px;
    background-color: #2D3F82;
    margin-bottom: 5px;
    padding-top: 5px
}

.Nav ul li a:hover {
    text-decoration: underline;
}

#SocialNAV {
    float: left;
}

.Nav ul,li,a {
    display: inline; 
    padding-left: 10px;
    text-decoration: none;
    color: white;
}

.Information {
    position: absolute
    top: -9px;
    padding: 25px 25px 25px;
    background-color: darkgoldenrod;
    color: white;
    font-family: Montserrat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-size: 25px
}

#AirlineCAB {
    font-size: 25px;
    background-color: #2D3F82;
    color: white;
}

#Information1 {
    font-size: 20px
}

#RoutesHeader {
    font-size: 25px;
    background-color: coral;
    color: white;
}

#RankC h1 {
    font-size: 50px
}
#RankB h1 {
    font-size: 50px
}
#RankA h1 {
    font-size: 50px
}
#MASTER h1 {
    font-size: 50px
}

small {
    font-size: 25px;
    font-style: italic;
}

p {
    font-size: 25px
}

#RankC {
    background-color: coral;
    color: white
}

#RankB {
    background-color: darkolivegreen;
    color: white
}

#RankA {
    background-color:cadetblue;
    color: white
}

#MASTER {
    background-color: goldenrod;
    color: white
}
#LiveryNotif {
    font-style: italic
}